
.mdl-layout__header-row{
  background-color: #c3846b;
}
  .landing-grid {
    background-color: #f7e6d3;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .projects-grid {
    display: flex;
  }
  /* Projects Page css */


  /* Resume Page css */
  .resume-right-col {
    background: #f7f0e9;
    color: #4c4c4c;
    padding: 2em;
  }


  /* About Me page*/
  .bio {
    background-color: #f7e6d3;
  }

  .heading-text {
    margin: auto;
    color: #c3846b;
    padding-top: 50px;
  }

  .heading-text h1, .heading-text h2{
    font-family: 'Baskervville';
    font-weight: bold;
  }
  
  /* contact page css */
  
  .contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
  }
  
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: #f7f0e9;;
    margin-bottom: 20px;
  }
  
  .contact-grid h3 {
    font-family: 'Anton', sans-serif;
  }
  
  .contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
  }
  
  .contact-grid hr {
    border-top: 5px dotted #4c4c4c;
    width: 50%;
    margin: auto;
  }
  
  .contact-list i {
    font-size: 66px;
    padding-right: 5rem;
  }
  
  
  /* contact page css */
  
  .avatar-img {
    height: 200px;
    padding-top: 6em;
  }
  
  .banner-text {
    background-color: #c3846b;
    opacity: .7;
    width: 75%;
    margin: auto;
    border-radius: 10px;
  }
  
  .banner-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 50px;
  }
  
  .banner-text hr {
    border-top: 5px dotted white;
    width: 80%;
    margin: auto;
  }
  
  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }
  
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
  }
  
  .social-links i {
    color: white;
    font-size: 3em;
    padding-bottom: 50px;
  }